@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --content-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 1rem; */
  line-height: 1.6;
  background-color: #fff;
  height: 100%
}

.app{
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  background-color: #f5f5f5;
  padding:  0 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.disabled{
  pointer-events: none;
  opacity: 0.4;
}
.vertical{
  display: flex;
  flex-direction: column;
}
.horizontal{
  display: flex;
  flex-direction: row;
}
.center{
  text-align: center;
  align-items: center;
}
.flex{
  display: flex;
  flex: 1;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.space-between{
  display: flex;
  justify-content: space-between;
}
.container {
 padding:  1rem;
 background-color: var(--content-color);
}
.task-form{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.tasks-container{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.task-description{
 margin: 10px 0;
 font-size: 0.9rem;
}
.text-left {
  text-align: left;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.8rem 0;
}

.btn {
  display: inline-block;
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 10px
}

.btn-edit{
  background: #f0ad4e;
}
.btn-complete{
  background: #5cb85c
}
.btn-delete{
  background: #d9534f
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-add{
  background: #5cb85c;
  font-size: 1rem;
}
.btn-cancel{
  background: #f0ad4e;
}

/* Forms */
input {
  margin: 1.2rem 0;
  height: 3rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
textarea{
  height: 120px;
  resize:none;
}